@media only screen and (max-width: 360px){
    header nav ul{
        gap: 10px;
        display: none;
    }
    .container{
        margin:auto;
    }
    .banner{
        margin: auto;
        flex-wrap: wrap;
        padding: 16px 16px;
        max-width: 100%;
        gap: 0;

    }
    .banner article{
        max-width: 328px;
    }
    h1{
        font-size: 42px;
    }
    .banner img{
        width: 230px;
        height: 208px;
    }
    .text-banner{
        margin-bottom: 16px;
    }

}