
.shop-list {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 94px;
}
.sidebar{
    font-family: 'cera_proregular', sans-serif;
    background-color: #fbfbfb;
    max-width: 310px;
}
.sidebar img{
    margin-left: -30px;
}
.sidebar-h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 18px 14px 7px ;

}
.sidebar ul{
    list-style: none;
    margin-left: 30px;
    margin-bottom: 36px;
}
.price{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-left: 18px;
    margin-bottom: 163px;
}

.sidebar ul li a{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color: #46a358;
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
}
.card-products{
    max-width: 840px;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
    height: 23px;
    font-family: 'cera_proregular', sans-serif;
    font-size: 15px;
}
.topbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 37px;
    justify-content: space-between;
}
.topbar ul li a{
    text-decoration: none;
    font-weight: 700;
    color: #3d3d3d;
    line-height: 107%;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.topbar ul li a:hover{
    color: #46a358;
    border-bottom: 2px solid #46a358;
}
.topbar p{
    font-weight: 400;
    line-height: 107%;
    color: #3d3d3d;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.products h4{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 6px;
}
.products p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.product {
    margin-bottom: 70px;
    position: relative;
}
.img .discount{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #46a358;
    padding: 9px 7px;
    display: inline-block;
    position: absolute;
    margin-top: 14px;
}
.img{
    background-color: #fbfbfb;
    margin-bottom: 12px;
    overflow: hidden;
    border-top: solid 1px transparent;
}

.img:hover{
    border-top: solid 1px #46a358;
    position: relative;
}
.img .position{
    display: none;
    margin-left: 67px;
}
.img ul{
    list-style: none;
    display: inline-block;
}
.img ul li{
    display: inline-block;
}
.img .position li svg{
    border-radius: 4px;
    background: #fff;
    padding: 7px 8px;
}
.img .position svg:before{
    display: none;
}
.img ul li svg:hover path{
    fill: #46a358;
}
.product .img:hover .position{
    display: block;
}
.position{
    position: absolute;
    border-radius: 4px;
    display: inline-block;
    bottom: 7px;
    gap:26px;
}
.product img{
    margin-bottom: 20px;
    margin-top: 25px;
    mix-blend-mode: multiply;

}
.pages{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 94px;
}
.pages ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    justify-content: end;
}
.pages a{
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    align-items: center;
    padding: 10px 9px;
    color: #3d3d3d;
    transition: width 3s;
    transition-delay: 1s;
}

.pages a:hover{
    color: #ffff;
    transition: 0.4s;
    background: #46a358;
}
.pages a:hover svg path {
    stroke: #ffff;
}
.text{
    margin-right: 30px;
    text-align: end;
}

.find-m {
    border-radius: 6px;
    padding: 9px 47px;
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    gap: 2px;
    max-width: 100%;
    background: #46a358;
}
.find-m:hover{
    background-color:#fbfbfb;
    cursor: pointer;
    color: #46a358;
}
.find-m:hover svg path{
    stroke: #46a358;
}
.container2{
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.find-block{
    display: flex;
    max-width: 586px;
    background: #fbfbfb;
    margin-bottom: 138px;
    font-family: 'cera_proregular', sans-serif;
}
.find-block img {
    mix-blend-mode: multiply;
}
.container .owl-carousel .find-block img{
    width: 143px;
    height: 146px;
}
.text{
    margin-top: 37px;
    margin-bottom: 46px;
    align-items: end;
}
.find-block h5{
    font-family: 'cera_probold', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}
.find-block p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
}
.container-blog{
    font-family: 'cera_proregular', sans-serif;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.container-blog{
    margin-bottom: 100px;
}
.container-blog h4{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    color: #3d3d3d;
    margin-bottom: 15px;
}
.container-blog p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 35px;
}
.blog {
    max-width: 268px;
    background: #fbfbfb;
    text-align: left;
}
.blog p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    padding-left: 15px;
    margin-bottom: 9px;
}
.blog h5{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    padding-left: 15px;
    margin-bottom: 4px;
}
.blog h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    padding-left: 15px;
    margin-bottom: 4px;
}
.blog a{
    text-decoration: none;
    margin-bottom: 14px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
}
.blog a svg{
    align-items: end;
}
.arrow{
    display: flex;
    gap: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
}
.arrow svg{
    padding-top: 1px;
}
.arrow:hover{
    color: #46a358;
    transition: 0.4s;
}
.arrow:hover svg path{
    fill: #46a358;
}

.content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
}
footer .container{
    background: #fbfbfb;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.2);
    margin-bottom: 6px;
}
.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
.box-container img{
    margin-bottom: 15px;
}
.box-container h5{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}
.box-container p{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-right: 61px;
}
.box-container .box1{
    position: relative;
}
.box-container .box1:after{
    content: "";
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
    position: absolute;
    left: 139px;
    bottom: 101px;
}
.box-container .box1:before{
    content: "";
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
    position: absolute;
    right: 204px;
    bottom: 101px;
}

.email-container{
    font-family: 'cera_proregular', sans-serif;
    max-width: 354px;
}
.email-container h5{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
    margin-top: 13px;
}
.email-container p{
    margin-top: 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}
.input{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 6px;
    max-width: 354px;
    overflow: hidden;
}
.email{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    background: transparent;
    border-radius: 6px 0 0 6px;
    padding: 12px 86px 12px  12px;
    border: none;
}
.join{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background: #46a358;
    border-radius: 0 6px 6px 0;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
}
.color{
    max-width: 1200px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
}
.color img{
    margin-left: 23px;
}
.address{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-right: 19px;
    margin-bottom: 19px;
    margin-top: 25px;
    text-align: start;
}
.address:before{
    content: url("../images/address.svg");
}
.contact{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 19px;
    margin-top: 25px;
}
.contact:before{
    content: url("../images/email.svg");
    margin-top: 8px;
}
.phone:before{
    content: url("../images/phone.svg");
    margin-top: 8px;
}
.phone{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 19px;
    margin-bottom: 19px;
    margin-top: 25px;
}
.media{
    align-items: center;
    display: flex;
    gap: 10px;
}
.aside{
    font-family: 'cera_proregular', sans-serif;
    margin-left: 25px;
    margin-top: 33px;
}
footer .container:last-of-type .aside{
    margin-right: 130px;
}
.aside .text-list{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
}
.aside .social{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 20px;
}
.aside .media{
    margin-bottom: 33px;
}
.aside .accept{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 13px;
}
.aside ul {
    list-style: none;
    margin-bottom: 29px;
}
.aside .list li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    margin-bottom: 7px;
}
.aside img {
    mix-blend-mode: multiply;
}
footer .last{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-align: center;
}
